@font-face {
  font-weight: 400;
  font-family: ProtoGrotesk;
  font-display: swap;
  src: url("./assets/fonts/ProtoGrotesk/ProtoGrotesk-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: ProtoGrotesk;
  font-display: swap;
  src: url("./assets/fonts/ProtoGrotesk/ProtoGrotesk-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: ProtoGrotesk;
  font-display: swap;
  src: url("./assets/fonts/ProtoGrotesk/ProtoGrotesk-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: SuisseIntl;
  font-display: swap;
  src: url("./assets/fonts/SuisseIntl/SuisseIntl-Regular.otf");
}

@font-face {
  font-weight: 500;
  font-family: SuisseIntl;
  font-display: swap;
  src: url("./assets/fonts/SuisseIntl/SuisseIntl-Medium.otf");
}

@font-face {
  font-weight: 600;
  font-family: SuisseIntl;
  font-display: swap;
  src: url("./assets/fonts/SuisseIntl/SuisseIntl-SemiBold.otf");
}

@font-face {
  font-weight: 700;
  font-family: SuisseIntl;
  font-display: swap;
  src: url("./assets/fonts/SuisseIntl/SuisseIntl-Bold.otf");
}

@font-face {
  font-weight: 800;
  font-family: SuisseIntl;
  font-display: swap;
  src: url("./assets/fonts/SuisseIntl/SuisseIntl-Black.otf");
}

@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: SuisseIntl;
  font-display: swap;
  src: url("./assets/fonts/SuisseIntl/SuisseIntl-RegularItalic.otf");
}

span,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
label,
li,
ul,
ol,
textarea {
  font-family: Onest, sans-serif;
}

.suisseIntl {
  font-family: SuisseIntl, sans-serif;
}

.protoGrotesk {
  font-family: ProtoGrotesk, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
