span,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
label,
li,
ul,
ol,
textarea {
  font-family: Onest, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
